/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__image-label {
    text-stroke: 
    1px var(--stroke-color);
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-weight); 

  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 100px;
}

.header {
  color: var(--color);
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 12px;

  border: 2px solid var(--color);
  background-color: var(--bg-color);
}

.content {
  margin: 0 auto;
  max-inline-size: 696px;
  margin-block-start: 100px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__description {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 128px;
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 50px;
  color: var(--color);
  position: relative;
  border: 2px solid;
}

.card__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: var(--header-weight);
  line-height: normal;
  font-style: normal;
  padding: 5px 22px 5px 8px;
  font-variation-settings: 'wght' var(--header-weight);
  border: 2px solid var(--color);
}

.card__image {
  position: relative;
  border: 2px solid var(--color);
  border-block-start: none;
  aspect-ratio: 1 / 1;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card__image-label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25px;
  right: 25px;
  color: var(--color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 var(--stroke-color), 0 1px var(--stroke-color),
    0 -1px var(--stroke-color), 1px 0 var(--stroke-color);
}

.card__content {
  padding: 25px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color);
}

.card__content-text {
  font-family: var(--main-font), sans-serif;
  color: var(--color);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--text-weight);
  font-variation-settings: 'wght' var(--text-weight);
}

.card__content-text:nth-child(1) {
  margin-block-end: 27px;
}

.card__content-text:nth-last-child(2) {
  margin-block-end: 25px; 
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;

}

.card__image {
  position: relative;
  border: 2px solid var(--color);
  border-block-start: none;
  aspect-ratio: 1 / 1;
}


.button__text {
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  color: var(--mix-blend-color);
  font-weight: 400;
  font-style: normal;
  mix-blend-mode: difference;
  line-height: 12.6px;
}

.dialog__flex {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.floppy-dialog {
  width: 39px; 
  height: 39px; 
}

.dialog__flex-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  color: var(--color);
}

.button-remember {
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  padding: 15px 20px;
  margin: 0 auto;
  color: var(--bg-color)
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  background: var(--bg-color);
  outline: none; 
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: var(--accent-font), sans-serif;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: var(--color);
  transition:  width 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  width: 0;
}

.button:hover::before {
width: 100%;
}


.theme-menu__button {
  font-family: var(--accent-font), sans-serif;
  border: none;
  line-height: normal;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding-inline-start: 27px;
}

.theme-menu__button:focus-visible,
.theme-menu__button:focus,
.button-save:focus,
.button-save:focus-visible {
  outline: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0 , 0.5);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--color);
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  max-inline-size: 357px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog:not([open]) {
  display: none;
}

.dialog__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
}

.button-save {
  width: 100%;
  padding: 15px 20px;
  text-transform: uppercase;
}

.button_text {
  font-family: var(--accent-font), sans-serif;
  mix-blend-mode: difference;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  transition: border-color 0.3s ease;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.button-save::before {
  content: '';
  top: 0;
  left: 0;
  display: block;
  transition: width 0.3s ease-in-out;
  block-size: 100%;
  inline-size: 100%;
  width: 0;
  position: absolute;
  background-color: var(--color);
}

.button-save:hover::before {
  width: 100%;
}

.floppy-dialog {
  fill: var(--color);
  block-size: 39px;
  inline-size: 39px;
  stroke: var(--color);
}

.dialog__flex-text {
  font-family: var(--accent-font), sans-serif;
  line-height: 1.5;
  white-space: normal;
  max-inline-size: 234px;
}


@media screen and (width <= 375px) {
  .card__image-label {
    top: 25px;
    right: 11px;
  }
}

@media screen and (width >= 500px) {
  .floppy {
    block-size: 21px;
    inline-size: 21px;
    z-index: 10;
    position: relative;
    mix-blend-mode: difference;
  }
}

@media screen and (width > 375px) {
  .button-remember {
    flex-direction: row;
  }
}
