
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --bg-color: #fff;
  --color: #000;
  --stroke-color: #fff;
  --heart-color: red;
  --linear-gradient-first: #e7e7e7;
  --linear-gradient-second: #1a1a1a;
  --mix-blend-color: #fff;
  --header-weight: 700;
  --text-weight: 400;
  --bg-image:
  repeating-linear-gradient(
    to right,
    #d3d3d3 0px 2px,
    transparent 2px 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0px 2px,
    transparent 2px 4px
  ),
  linear-gradient(
    180deg,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
}

